<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#222222">
    <title>Dashboard</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="lib/chartist.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <script defer src="lib/papaparse.js"></script>
    <script defer src="lib/moment.js"></script>
    <script defer src="lib/chartist.js"></script>
    <script defer src="client-index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img height="70px" src="https://cdn.glitch.com/c8d6680f-b489-4c42-9449-52c9416ae9fa%2Fsamsung-internet-logo-text.svg?1534247440236" alt="Samsung Internet logo"/>
      </div>
        <h1>Developer Advocacy Dashboard</h1>
    </header>
    <main>
      <div id="general-stats" v-cloak>
        <h2>Audience &amp; Engagement <span class="last-updated">Last updated: <span id="last-updated-time">{{lastUpdatedTime}}</span></span></h2>
        <div class="numbers">
          <div>
            <h3>{{stats.mediumFollowers.mostRecent.formatted}}</h3>
            <p>Medium followers</p>
            <stat-comparison v-bind:comparison="stats.mediumFollowers.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.twitterFollowers.mostRecent.formatted}}</h3>
            <p>Twitter followers</p>
            <stat-comparison v-bind:comparison="stats.twitterFollowers.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.facebookFollowers.mostRecent.formatted}}</h3>
            <p>Facebook followers</p>
            <stat-comparison v-bind:comparison="stats.facebookFollowers.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.instagramFollowers.mostRecent.formatted}}</h3>
            <p>Instagram followers</p>
            <stat-comparison v-bind:comparison="stats.instagramFollowers.comparison"></stat-comparison>
          </div>
        </div>
        <div class="numbers">
          <div>
            <h3>{{stats.devHubUniqueVisitors.mostRecent.formatted}}</h3>
            <p>Dev Hub unique visitors</p>
            <stat-comparison v-bind:comparison="stats.devHubUniqueVisitors.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.twitterImpressions.mostRecent.formatted}}</h3>
            <p>Tweet impressions (28 days)</p>
            <stat-comparison v-bind:comparison="stats.twitterImpressions.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.twitterMentions.mostRecent.formatted}}</h3>
            <p>Twitter mentions (28 days)</p>
            <stat-comparison v-bind:comparison="stats.twitterMentions.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.facebookViews.mostRecent.formatted}}</h3>
            <p>Facebook views (28 days)</p>
            <stat-comparison v-bind:comparison="stats.facebookViews.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.mediumViews.mostRecent.formatted}}</h3>
            <p>Medium views (30 days)</p>
            <stat-comparison v-bind:comparison="stats.mediumViews.comparison"></stat-comparison>
          </div>
        </div>
        <p class="summary">Total social media followers: <strong>{{totalFollowers}}</strong>, Total impressions/views: <strong>{{totalImpressions}}</strong></p>
      </div>
      <h2>Open Source &amp; Support  <span class="last-updated">Last updated: <span id="last-updated-time">just now</span></span></h2>
      <div id="github-data" class="numbers" v-cloak>
        <div>
          <h3>{{githubRepositories}}</h3>
          <p>Github repositories</p>
        </div>
        <div>
          <h3>{{githubStars}}</h3>
          <p>Github stars</p>
        </div>
        <div>
          <h3>{{githubForks}}</h3>
          <p>Github forks</p>
        </div>
        <div>
          <h3>{{githubOpenIssues}}</h3>
          <p>Open issues</p>
        </div>
      </div>
      <div id="stackoverflow-data" class="numbers" v-cloak>
        <div>
          <h3>{{questions}}</h3>
          <p>Stack Overflow estimated questions asked (30 days)</p>
        </div>
        <div>
          <h3>{{answersAndComments}}</h3>
          <p>Stack Overflow answers/comments given (30 days)</p>
        </div>
      </div>
      <div class="pull-requests">
        <h3>Recent Github Pull Requests</h3>
        <ul class="hidden">!!githubPullRequestsList!!</ul>
      </div>
      <!--
      <h2>Medium Blog</h2>
      <div id="medium-chart" class="ct-chart hidden"></div>
      <div class="key">
        <span class="coloues@r1">&mdash;</span> Minutes read
        <span class="colour2">&mdash;</span> Views
        <span class="colour3">&mdash;</span> Visitors
      </div>
      <h2>Search Terms</h2>
      <div class="numbers hidden">
        <div>
          <h4>WebVR</h4>
          <h3>${seo.webvr.count}</h3>
          <p>${seo.webvr.formattedlink || 'Outside top 100'}</p>
          <p class="change"><span class="arrow ${seo.webvr.changeDirection}">${seo.webvr.changeArrow}</span> ${seo.webvr.change} (${changeSinceLabel})</p>
        </div>
        <div>
          <h4>Web Payments</h4>
          <h3>${seo.webPayments.count}</h3>
          <p>${seo.webPayments.formattedlink || 'Outside top 100'}</p>
          <p class="change"><span class="arrow ${seo.webPayments.changeDirection}">${seo.webPayments.changeArrow}</span> ${seo.webPayments.change} (${changeSinceLabel})</p>
        </div>
        <div>
          <h4>Progressive Web Apps</h4>
          <h3>${seo.pwas.count}</h3>
          <p>${seo.pwas.formattedlink || 'Outside top 100'}</p>
          <p class="change"><span class="arrow ${seo.pwas.changeDirection}">${seo.pwas.changeArrow}</span> ${seo.pwas.change} (${changeSinceLabel})</p>
        </div>
        <div>
          <h4>Web Bluetooth</h4>
          <h3>${seo.webBluetooth.count}</h3>
          <p>${seo.webBluetooth.formattedlink || 'Outside top 100'}</p>
          <p class="change"><span class="arrow ${seo.webBluetooth.changeDirection}">${seo.webBluetooth.changeArrow}</span> ${seo.webBluetooth.change} (${changeSinceLabel})</p>
        </div>
      </div>
      <h2>Surveys</h2>
      <div class="surveys hidden">
        <div class="survey">
          <h3>Twitter poll</h3>
          <div id="twitter-survey-chart" class="ct-chart"></div>
          <div class="key">
            <span class="colour2">■</span> Not aware of Samsung Internet
            <span class="colour1">■</span> Aware of Samsung Internet
          </div>
          <p><em>Source: <a href="https://twitter.com/poshaughnessy/status/988741359166218240">Peter's Twitter poll</a>, April 2018</em></p>
        </div>
        <div class="survey">
          <h3>Events feedback</h3>
          <div id="event-survey-chart" class="ct-chart"></div>
          <div class="key">
            <span class="colour2">■</span> Not aware of Samsung Internet
            <span class="colour1">■</span> Aware of Samsung Internet
          </div>
          <p><em>Source: <a href="https://docs.google.com/a/ada.is/spreadsheets/d/1SxnLKkhqOPZPCEYzX0S0WVPaNN6Hs5vFhOi4Py8bLHs/edit?usp=sharing">Event feedback surveys (latest: FullStack)</a></em></p>
        </div>
      </div>
      -->
    </main>
    <footer>
      <p>&copy; 2018 Samsung Internet &middot; <a href="https://glitch.com/edit/#!/samsung-internet-dashboard">Source on Glitch</a></p>
    </footer>
  </body>
</html>
